node_modules
.pnpm-store

dist
coverage
.nyc_output

.env
.env.*
!.env.example

.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

*.log
npm-debug.log*
pnpm-debug.log*

tmp
.temp

docker/postgres/init/.*
docker/redis/.*

